body{
    padding: 0;
    margin: 0;
    width: 1600px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;

}

.nav-logo{
    
}

.middle-text{
    max-width: 356px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.get-early-access-btn{
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: white;
    border-radius: 4px;
    padding: 12.5px 16px;
    text-align: center;
}